.modal-content {
    text-align: center;
}

.twoColumns {
    text-align: left;
}

.img-payments {
    height: 20px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin: 3px 20px 17px 0;
}

.zusatzinfos {
    margin: 0 0 20px 35px;
    display: none;
}

@media (max-width: 920px) {
    .twoColumns {
        display: block;
    }
    .payments {
        width: 100%;
    }
}

/* Media Query für ausreichend breite Bildschirme */
@media (min-width: 921px) {
    .twoColumns {
        display: flex;
    }
    .payments {
        width: 50%;
    }
}