.star {
    font-size: 24px;
}

.star:hover {
    cursor: pointer;
    content: "\2605";
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.tab-menu {
    display: flex;
    background-color: #4A5F47;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    margin-bottom: 20px;
}

.tab-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-item:hover {
    background-color: #35483E;
}

.tab-content {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 0; /* Kein zusätzlicher Abstand zu den Seiten */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    color: black; /* Schriftfarbe für Header-Zellen */
    font-weight: bold; /* Fettschrift für Header-Zellen */
    background-color: transparent; /* Hintergrundfarbe für Header-Zellen entfernen */
}

td {
    background-color: white; /* Hintergrundfarbe für Datenzellen */
    color: black; /* Schriftfarbe für Datenzellen */
    transition: background-color 0.3s; /* Animation beim Hover-Effekt */
}

/* Hover-Effekt */
tr:hover td {
    background-color: #f2f2f2; /* Hintergrundfarbe für Datenzellen beim Hover */
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4A5F47;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, text-decoration 0.3s;
}

.green-button:hover {
    background-color: #35483E;
    text-decoration: underline;
}

.grey-button:hover {
    background-color: #999;
    text-decoration: none;
}

/* Stil für den grünen Button "Jetzt ausleihen" */
.green-button {
    background-color: #4A5F47;
}

/* Stil für den grauen Button "Jetzt ausleihen" */
.grey-button {
    background-color: #999;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#comment {
    width: 500px; /* Ändern Sie die Breite nach Ihren Wünschen */
    height: 150px; /* Ändern Sie die Höhe nach Ihren Wünschen */

}

.bewertung:hover {
    background-color: #f2f2f2;
}

.star-full {
    margin-right: 5px;
    color: #ffd700; /* Gelbe Farbe für Sterne */
    font-size: 24px;
}

.star-empty {
    margin-right: 5px;
    font-size: 24px;
}

.title-container {
    display: flex;
    align-items: center;
}

#saveTime {
    margin-top: 30px;
    border-radius: 20px;
}

#hint-checkboxes {
    display: none;
    color: red;
}

#verleihBestaetigung {
    display: none;
    margin-top: 50px;
}

/* Media-Query Top-books
/* Breite Bildschirme*/
@media (min-width: 1000px) {
    .book-beschreibung {
        display: flex;
    }

    .buchcover {
        width: 300px;
    }
}

/*schmale Bildschirme*/
@media (max-width: 1000px) {
    .book-beschreibung {
        display: block;
    }

    .buchcover {
        width: 200px;
    }
}

/*noch schmalere Bildschirme*/
@media (max-width: 750px) {
    .book-beschreibung {
        display: block;
    }

    .buchcover {
        width: 100px;
    }
}