.header {
    background-color: #4A5F47;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgermenu {
    text-align: right;
}

/* Media Query für schmale Bildschirme (z.B. Mobilgeräte) 920 */
@media (max-width: 1000px) {
    .burgermenu {
        display: block; /* Zeige Burger-Menü */
    }

    .search-icon {
        display: none; /* Verberge das Suchbild */
    }

    header nav {
        display: none;
    }
}

/* Media Query für ausreichend breite Bildschirme */
@media (min-width: 1001px) {
    .search-icon {
        display: inline-block; /* Zeige das Suchbild */
    }

    .burgermenu {
        display: none;
    }

    header nav {
        display: flex;
    }
}

/* Pop-up-Menü-Styling */
.popup-menu {
    position: fixed;
    top: 0;
    right: -350px; /* Startet ausgeblendet */
    width: 350px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    overflow-y: scroll;
    transition: right 0.3s ease-in-out;
}

/* Overlay für das Pop-up-Menü */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* Stil für Menüpunkte im Pop-up-Menü */
.popup-menu .popup-item {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

/* Stil für Menüpunkte im Pop-up-Menü */
.popup-menu .sub-item {
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
}

/* Stil für Icons im Pop-up-Menü */
.popup-menu .popup-icons {
    display: flex; /* Flexbox-Container, um die Icons nebeneinander anzuordnen */
    justify-content: center; /* Icons horizontal mittig ausrichten */
    align-items: center; /* Icons vertikal mittig ausrichten */
    padding: 20px; /* Abstand um die Icons herum */
}

.popup-menu .popup-icon {
    margin: 0 10px; /* Horizontaler Abstand zwischen den Icons */
}

/* Stil für den Schließen-Button im Pop-up-Menü */
.popup-menu .popup-close-button {
    position: absolute;
    top: 10px; /* Abstand vom oberen Rand */
    left: 10px; /* Abstand vom linken Rand */
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* Textfarbe */
}

/* Stil für Genre-Submenü */
.genre-submenu {
    display: none;
    font-size: 12px; /* Kleinere Schriftgröße */
    font-weight: bold; /* Fetter Text */
    color: #4A5F47; /* Grüne Textfarbe */
}

#genremenü:hover .genre-dropdown {
    display: block;
}

/* Stil für Genre-Element */
#genreItem:hover .genre-submenu {
    display: block;
}

/* Stil für das Input-Feld im Pop-up-Menü */
.popup-menu input {
    width: 80%; /* Breite des Input-Felds anpassen */
    padding: 10px; /* Innenabstand hinzufügen */
    font-size: 16px; /* Schriftgröße anpassen */
    border: 2px solid #ccc; /* Randstil hinzufügen */
    border-radius: 5px; /* Randradius hinzufügen */
    margin: 10px auto; /* Horizontal zentrieren und vertikal Abstand hinzufügen */
    text-align: center; /* Text mittig ausrichten */
    display: block; /* Element als Blockelement behandeln, um die horizontale Zentrierung zu ermöglichen */
}

/* Stil für das Input-Feld im Pop-up-Menü */
.searchButton {
    width: 80%; /* Breite des Input-Felds anpassen */
    padding: 10px; /* Innenabstand hinzufügen */
    font-size: 16px; /* Schriftgröße anpassen */
    border: 2px solid #ccc; /* Randstil hinzufügen */
    border-radius: 5px; /* Randradius hinzufügen */
    margin: 40px auto 10px auto; /* Horizontal zentrieren und vertikal Abstand hinzufügen */
    text-align: center; /* Text mittig ausrichten */
    display: block; /* Element als Blockelement behandeln, um die horizontale Zentrierung zu ermöglichen */
    background-color: #4A5F47;
}

/*--------------------------------------------------------------------*/
header nav {
    width: 40%;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header nav li {
    margin-right: 50px;
}

header nav ul ul {
    display: none;
    position: absolute;
    background-color: #4A5F47;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    z-index: 99;
}

header nav ul li:hover > ul {
    display: inherit;
}

header nav ul ul li {
    margin-top: 10px;
}