.filter-container {
    position: sticky;
    top: 0;
    left: 0;
    text-align: left;
    padding: 1rem;
    background-color: rgba(74, 95, 71, 0.5);
}

#ausgeliehenFilter,
#meineFilter {
    display: flex;
    flex-wrap: wrap;
}

#ausgeliehenFilter button,
#meineFilter button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#ausgeliehenFilter button:hover,
#ausgeliehenFilter button.selected:hover,
#meineFilter button:hover,
#meineFilter button.selected:hover {
    background-color: #4A7F47;
    color: #fff;
    text-decoration: unset;
}

#ausgeliehenFilter button.selected,
#meineFilter button.selected {
    background-color: #4A5F47;
    color: #ffffff;
}

#ausgeliehenMain,
#meineMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

#ausgeliehenMain a,
#meineMain a {
    color: #000;
}

.book {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 10px;
    text-align: center;
    max-width: 420px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.book:hover {
    background-color: #f0f0f0;
}

#ausgeliehenMain img,
#meineMain img {
    height: 175px;

}

.beschreibung {
    text-align: left;
    margin-left: 10px;
}

.beschreibung button {
    margin: 0;
    border-radius: 20px;
}

#upload-container {
    border: 2px dashed #ddd;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

#upload-container:hover {
    border-color: #4A7F47;
}

#uploaded-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.uploaded-image {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}