.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: 20px auto auto auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    border: 2px solid #4A5F47;
    border-radius: 30px;
}