a {
    color: white;
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #4A5F47;
    color: #fff;
    padding: 10px;
}

button:hover {
    color: white;
    /* text-decoration: underline; */
}
.title-container {
  display: flex;
  align-items: center;
}

.rating {
  font-size: 24px;
  color: black;
  margin-left: 25px; /* Adjust the spacing between title and rating */
}

.star {
  display: inline-block;
}

.empty-star {
  display: inline-block;
  color: black;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

.star {
    margin: 0 5px;
    cursor: pointer;
}
 .rating {
     display: flex;
     align-items: center;
     font-size: 24px;
     color: black;
 }

 .ratstar {
     margin: 0 5px;
     cursor: pointer;
 }

 .ratstar:hover::before {
     content: "\2605";
     color: #4A5F47;
 }
