a {
    color: black;
    text-decoration: unset;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

button {
    background-color: #4A5F47;
    color: black;
    padding: 10px;
}

button:hover {
    color: white;
    text-decoration: underline;
}