* {
    font-family: Verdana;
}

a {
    color: #4A5F47;
    text-decoration: unset;
    font-weight: bold;
}

header a {
    color: #fff;
}

footer a {
    color: #fff;
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6,
a:hover li {
    text-decoration: underline;
}

button {
    background-color: #4A5F47;
    color: #fff;
    padding: 10px;
    border: 0px;
}

button:hover {
    text-decoration: underline;
}

.rating {
    font-size: 24px;
    color: black;
    margin-left: 25px; /* Adjust the spacing between title and rating */
}

.star {
    display: inline-block;
}

.empty-star {
    display: inline-block;
    color: black;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

.star {
    margin: 0 5px;
    cursor: pointer;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: black;
}

.ratstar {
    margin: 0 5px;
    cursor: pointer;
}

.ratstar:hover::before {
    content: "\2605";
    color: #4A5F47;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: #4A5F47;
}